# client.R
# see other exports in onLoad.R
export(pool_connect)
S3method(print, nodepool_cluster)
S3method(close, nodepool_cluster)
importFrom(parallel, stopCluster)
S3method(stopCluster, nodepool_cluster)

# node.R
export(run_node)
S3method(print, run_node)

# pool.R
importFrom(methods, new)
export(run_pool)
