# client.R
export(pool_connect, lbapply, pool_halt)

# node.R
export(run_node)
S3method(print, run_node)

# pool.R
importFrom(methods, new)
export(run_pool, run_pool_background)
S3method(print, run_pool_background)
